.notification.event-item{class: "event-block"}
  %span.cgray.pull-right
    #{time_ago_with_tooltip(event_notification_sent.created_at)} ago

  = cache event_notification_sent do
    = image_tag avatar_icon(event_notification_sent.user_email, 48), class: "avatar s48", alt:''

  .event-title
    %span.author_name
      = link_to_sender event_notification_sent
    %span.event_label
      = link_to event_notification_sent.title, show_user_notification_path(event_notification_sent)
      at 
      %span.notification_project_name
        - if event_notification_sent.project
          #{link_to_project event_notification_sent.project}
        - else
          #{event_notification_sent.project_name}
          
  .event-body
    .event-note
      #{truncate(event_notification_sent.message, length: 160)}