%div#header-notifications
  %h3.page-title.pull-left 
    Notifications

  %span.pull-right
    %p 
      %strong
        = page_entries_info @event_notifications, :entry_name => ''

  %hr

.row
  .span3
    %ul.nav.nav-pills.nav-stacked
      = nav_tab :scope, nil do
        = link_to inbox_user_notifications_path do
          All
          %span.pull-right
            = current_user.event_notifications.size
      = nav_tab :scope, 'unread' do
        = link_to inbox_user_notifications_path(scope: 'unread') do
          Unread
          %span.pull-right
            = current_user.event_notifications.unread.size
      = nav_tab :scope, 'read' do
        = link_to inbox_user_notifications_path(scope: 'read') do
          Read
          %span.pull-right
            = current_user.event_notifications.read.size

  .span9.my-snippets
    - if @event_notifications.any?
      = render @event_notifications
      = paginate @event_notifications, theme: 'gitlab'
    - else
      %p.nothing_here_message No notifications to show