%li{ class: mr_css_classes(merge_request) }
  .merge-request-title
    %span.str-truncated
      = link_to_gfm merge_request.title, merge_request_path(merge_request), class: "row_title"
    .pull-right.light
      - if merge_request.merged?
        %span
          %i.fa.fa-check
          MERGED
      - elsif merge_request.closed?
        %span
          %i.fa.fa-close
          CLOSED
      - else
        %span.hidden-xs.hidden-sm
          %span.label-branch<
            %i.fa.fa-code-fork
            %span
            = "#{merge_request.source_branch} >> #{merge_request.target_branch}"
      - note_count = merge_request.mr_and_commit_notes.user.count
      - if note_count > 0
        &nbsp;
        %span
          %i.fa.fa-comments
          = note_count
  .merge-request-info
    %span.light= "##{merge_request.iid}"
    - if merge_request.author
      authored by #{link_to_member(merge_request.source_project, merge_request.author)}
   
    - if merge_request.notes.any?
      %span
        %i.fa.fa-comments
        = merge_request.mr_and_commit_notes.count

    - if merge_request.votes_count > 0      
      - if merge_request.upvotes > 0
        %span.vote.upvote.label.label-success.avatar-voters
          %i.fa.fa-thumbs-up
          \+
          = merge_request.upvotes

          - merge_request.upvoters.each do |participant|
            = link_to_member(@project, participant, name: false, size: 16)
        

      - if merge_request.downvotes > 0
        %span.vote.downvote.label.label-danger.avatar-voters
          %i.fa.fa-thumbs-down
          \-
          = merge_request.downvotes

          - merge_request.downvoters.each do |participant|
            = link_to_member(@project, participant, name: false, size: 16)

    - if merge_request.open?
      / Declarando as variáveis
      - resultado_testes = merge_request.resultado_testes if not @project.nil?
      - commit = merge_request.ultimo_commit if not @project.nil?

      - if not commit.nil? and not resultado_testes.nil?
        - if resultado_testes.ultimo_commit[0..7] == commit.short_id && resultado_testes.resultado == 1
          %span.label.label-success.has_tooltip{'data-title' => "#{time_ago_in_words(resultado_testes.data_execucao)}" }
            %i.fa.fa-thumbs-up 
            Testes
        - elsif resultado_testes.ultimo_commit[0..7] == commit.short_id && resultado_testes.resultado == 2
          %span.label.label-danger.has_tooltip{'data-title' => "#{time_ago_in_words(resultado_testes.data_execucao)}" }
            %i.fa.fa-thumbs-down
            Testes
        - elsif resultado_testes.ultimo_commit[0..7] == commit.short_id && resultado_testes.resultado == 3
          %span.label.label-danger.has_tooltip{'data-title' => "#{time_ago_in_words(resultado_testes.data_execucao)}" }
            %i.fa.fa-chain-broken
            Em Conflito
        - elsif resultado_testes.ultimo_commit[0..7] == commit.short_id && resultado_testes.resultado == 4
          %span.label.label-warning
            %i.fa.fa-refresh.fa-spin
            Testes em Execução
        - else
          %span.label.label-inverse
            %i.fa.fa-thumbs-down
            Testes Pendentes
      - else
        %span.label.label-inverse
          %i.fa.fa-thumbs-down
          Testes Pendentes
          
    - if merge_request.milestone_id?
      %span
        %i.fa.fa-clock-o
        = merge_request.milestone.title

    - if merge_request.tasks?
      %span.task-status
        = merge_request.task_status


    .pull-right.hidden-xs
      %small updated #{time_ago_with_tooltip(merge_request.updated_at, 'bottom', 'merge_request_updated_ago')}

    .merge-request-labels
      - merge_request.labels.each do |label|
        = link_to namespace_project_merge_requests_path(merge_request.project.namespace, merge_request.project, label_name: label.name) do
          = render_colored_label(label)
